name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/setup-go@v1
      with:
        go-version: 1.21
      id: go

    - uses: actions/checkout@v2

    - name: Build
      run: go build github.com/martinvw/go-search-string/cmd/search-string
